trigger:
- master

jobs:
- template: .azure/default-build.yml
  parameters:
    agentOs: Windows
    cMakeRunArgs: '-A x64'
    beforeBuild:
    - powershell: |
        if((Get-Command vcpkg.exe -ErrorAction SilentlyContinue) -eq $null) {
          ./submodules/vcpkg/bootstrap-vcpkg.bat
        }
      displayName: Bootstap vcpkg
    - powershell: |
        if(Get-Command vcpkg.exe -ErrorAction SilentlyContinue) -eq $null) {
          vcpkg.exe install cpprestsdk:x64-windows --vcpkg-root ./submodules/vcpkg
        } else {
          ./submodules/vcpkg/vcpkg.exe install cpprestsdk:x64-windows --vcpkg-root ./submodules/vcpkg
        }
      condition: ne(variables.CACHE_RESTORED, 'true')
      displayName: vcpkg install dependencies

- template: .azure/default-build.yml
  parameters:
    agentOs: macOs
    beforeBuild:
    # XCode 11 doesn't play nicely with gcc workaround by using XCode 10. We can try updating to a newer XCode in the future
    # Once the problem has been resolved
    - script: sudo xcode-select --switch /Applications/Xcode_10.3.app
    - script: brew install gcc
    - bash: "./submodules/vcpkg/bootstrap-vcpkg.sh"
      displayName: Bootstrap vcpkg
    - bash: "./submodules/vcpkg/vcpkg install cpprestsdk"
      condition: ne(variables.CACHE_RESTORED, 'true')
      displayName: vcpkg install dependencies

- template: .azure/default-build.yml
  parameters:
    agentOs: Linux
    beforeBuild:
    - script: sudo vcpkg install cpprestsdk boost-system boost-chrono boost-thread --vcpkg-root ./submodules/vcpkg
      condition: ne(variables.CACHE_RESTORED, 'true')
      displayName: vcpkg install dependencies
